---
interface Props {
  images: string[];
}

const { images } = Astro.props;
---
<section class="py-20 px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    {images.map(image => (
      <div class="aspect-[4/3] overflow-hidden">
        <img 
          src={image} 
          alt="" 
          class="w-full h-full object-cover transition-transform duration-500 hover:scale-105"
        />
      </div>
    ))}
  </div>
</section>