---
---
<header id="header" class="fixed top-0 left-0 right-0 z-50 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6 flex justify-between items-center">
    <a href="/">
      <div class="text-2xl font-bold">MG</div>
    </a>
    <nav class="hidden md:flex space-x-8">
      <a href="/#projects" class="text-gray-600 hover:text-gray-900">Work</a>
      <a href="/#services" class="text-gray-600 hover:text-gray-900">Services</a>
      <a target="_blank" href="mailto:magaroncal@gmail.com" class="text-gray-600 hover:text-gray-900">Contact</a>
    </nav>
  </div>
</header>
